*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}
body{
	font-family:'Roboto Slab', serif;
	background-color: #333;
	background: transparent;
}

.header{
	background: url("images/back-image.jpeg");
	background-size: cover;
	width: 100%;
	height: 665px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-repeat: no-repeat;
    background-position: top;
  
	}



.top-nav{
	width: 980px;
	height: 36px;
    margin: auto;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #595959 1%, #8F8D8D 2%, #656464 49%, #595959 50%);
    
}

.top-nav ul{
	width: 980px;
	height: 36px;
	list-style: none;
	display: flex;
	justify-content: center;

	}
	.top-nav ul li:not(.search-field){
		width: 103px;
		
	}

	
.top-nav ul li{
	padding-top: 10px;
	text-align: center;
	font-size: 10px;
	justify-content: center;
}
.search-field{
	width: 156px; 
}
.search-field form input{
	width: 120px;
	border-radius: 15px;
	border: 1px groove #979797;
	background-image: linear-gradient(to bottom, #595959 1%, #8F8D8D 2%, #656464 49%, #595959 50%);
}
.top-nav ul li a{
	color: #FFFFFF;
}
.top-nav li a img{
	width: 25px;
	height: 25px;
	margin-top: -5px;
}
#search-form{
	position: relative;
}
#search-form i{
	position: absolute;
	left: 15%;
	padding-top: 4px;
	color: #FFFFFF;
}
.top-nav span{
	display: inline-block;
	float: left;
	width: 1px;
	height: 100%;
	background-color: #363636;
	margin: 0px;
	padding: 0px;
}
ul li a{ 
	text-decoration: none;
}
#content-1 div{
	background-image: url("images/content-1.png");
	height: 103px;
	width: 980px;
	background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;

}
#content-2 div{
	background-image: url("images/content-2.png");
	height: 84px;
	width: 980px;
}
#content-3 div{
	background-image: url("images/content-3.png");
	height: 6px;
	width: 980px;
}
/*
.content-section{
	width: 980px;
	top: 100px;
	left: 10%;
	position: absolute;
	margin-top: 20px;
}

.title h1{
	height: 103px;
	font-size: 50px;
    line-height: 60px;
	font-weight: 100;
	color: #FFFFFF;
	margin-top: 50px;
    text-align: center;
}

.content-2 h2{
	height: 82px;
	font-size: 30px;
	font-weight: 300;
	font-style: normal;
	line-height: 36px;
	color: #FFFFFF;
	margin-top: 20px;
	text-align: center;
	position: absolute;
	top: 150px;
	left: 10%;
}
.content-3 h3{
	height: 64px;
	font-size: 25px;
	font-weight: 300;
	font-style: normal;
	line-height: 30px;
	color: #FFFFFF;
	margin-top: 15px;
	text-align: center;
	position: absolute;
	top: 250px;
	left: 10%;
}



/*
.top-section{
	
	width: 100%;
	height: 100vh;
	/*background-image: url("images/back-image.jpeg");*/
	/*
	position: relative;
	background-size: cover;
	background-position: top;
}
.content-box{
	
	font-style: normal;
	align-items: center;
	justify-content: center;
	
}

.title-section{
	

	
}
.top-nav{
	width: 980px;
	height: 36px;
	top: 40px;
	left: 150px;
	justify-content: center;
	display: flex;
	position: absolute;
	background-color: red;


}*/
.middle-section{
	margin:5px 0 5px 0;
	display: flex;
	justify-content: space-between;
}
.articles{
	width: 24%;
	height: 200px;

}




/* footer section */
.container{
	margin:0px auto;
	padding: 10px;
	background-color: #ccc;
	width: 980px;
	font-size: 15px;
	display: flex;

}
.footer-items{
	text-decoration: none;
	
}
.left{
width: 49%;
justify-content: start;
}
.right{

	
	display: inline;
	width: 49%;
	justify-content: flex-start;
}
.footer-item{
	align-items: center;
	display: inline-block;
	border-right: 1px solid #ccc;
}

}
.country-logo{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border-style: none;

}
